server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/rxlog
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      data-source-properties:
        ApplicationName: register-java-spring   # helps identify queries in Postgres

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true

spring.main.web-application-type: servlet

management:
  endpoints:
    web:
      exposure:
        include: health,info,mappings,env,configprops
  endpoint:
    env:
      show-values: ALWAYS